@import 'common';

.onlycoin-app {
  background: #000000;
  min-height: 100vh;
}

$app-header-height: pxToRem(128px);
.app-header {
  height: $app-header-height;
  padding: 0 pxToRem(50px);
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

// 底部高亮着重横线
.bottom-line-highlight {
  height: 2px;
  border-radius: 2px 0px 0px 0px;
  background: linear-gradient(270deg, #FFFFFF 0%, #AAAAAA 100%);
}

.section-dividing-line {
  width: 100vw;
  height: 1px;
  background: #383838;
}

// 区域标题字
.section-title-font {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: pxToRem(40px);
  line-height: pxToRem(48px);
  color: #FFFFFF;
}

.intention-page {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: flex-start;
  .intention-body-zone {
    border-left: 1px solid #383838;
    border-right: 1px solid #383838;
    width: pxToRem(1120px);
    padding: 0 pxToRem(30px);
  }
}
