@import '../../style/common.scss';
$modal-content-width: '500px';
.modal-mask {
  position: fixed;
  inset: 0;
  background-color: #000;
  opacity: 0.7;
}

.modal-wrapper {
  position: fixed;
  inset: 0;
  .modal-content {
    position: relative;
    margin: 0 auto;
    top: pxToRem(284px);
    width: $modal-content-width; // Add this line to set the width using a variable
    .close-icon {
      position: absolute;
      top: 0;
      right: 0;
    }
  }
}
