.auto-scroll-list {
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 100%;
}

.auto-scroll-list-inner {
  display: flex;
  white-space: nowrap;
  width: 200%;
  height: 100%;
  animation-name: scroll;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.auto-scroll-list-item {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100%;
  margin: auto;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}
