@import '../../common.scss';

.nav-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  .nav-bar-item {
    margin: 0 pxToRem(55px);
    font-family: Inter;
    font-size: pxToRem(30px);
    font-weight: 700;
    line-height: pxToRem(36.31px);
    color: #868686;
    cursor: pointer;

    .bottom-line-highlight {
      visibility: hidden;
    }
    &.active {
      color: #FFFFFF;
      .bottom-line-highlight {
        visibility: visible;
      }
    }
  }
}
